body {
  background: url('./assets/images/background-pattern.png');
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  :focus {
    outline: none;
  }
}

.nav-link {
  color: inherit;
  padding: 0px;
  &:hover {
    color: inherit;
  }
}